{% extends 'base.html' %}
{% block content %}

<a href="{{ url_for('auth.logout') }}" class="btn btn-secondary float-right">
  <i class="fas fa-lock-open"></i>
  Logout
</a>

<h1>Your Account</h1>

<ul class="list-unstyled my-5">
  <li>
    <b>Name:</b>
    {{ user.first_name }} {{ user.last_name if user.last_name else '' }}
  </li>
  <li>
    <b>Email:</b>
    {{ user.email }}
  </li>
</ul>

<h3>Orders</h3>
<table class="table table-striped table-hover datatable">
  <thead>
    <tr>
      <th>Created</th>
      <th>Items</th>
      <th>Total</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    {% for order in orders %}
      <tr>
        <td>
          <a href="{{ url_for('admin.edit_order', obj_id=order.id) }}">
            <i class="fas fa-edit"></i>
            {{ order.created }}
          </a>
        </td>
        <td>
          <ul>
            {% for item in order.items %}
              <li>
                {{ item.product.name }} -
                {{ item.option.name }}
                (x{{ item.amount }})
              </li>
            {% endfor %}
          </ul>
        </td>
        <td>
          ${{ order.total_cost() }}
        </td>
        <td>
          {{ order.status }}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
