{% extends 'base.html' %}
{% block content %}

  <h1>Your Cart</h1>

	{% if order and order.items %}
		
		<table class="table" width="100%">
			<thead>
				<tr>
					<th>Product</th>
					<th></th>
					<th width="75">Amount</th>
					<th width="100">Price</th>
					<th width="75"></th>
				</tr>
			</thead>
			<tbody>
				{% for item in order.items %}
					<tr>
						<td width="150">
							<a href="{{ url_for('shop.product', obj_id=item.product_id) }}">
								<img src="{{ url_for('main.uploads', filename=item.product.image_filename()) }}" class="img-fluid" />
							</a>
						</td>
						<td>
							<a href="{{ url_for('shop.product', obj_id=item.product_id) }}">
								{{ item.product.name }} - {{ item.option.name }} 
              </a><br />
              <small class='text-muted'>
                In stock: {{ item.option.available }}
              </small>
						</td>
						<td class="text-center">
              <form action="" method="post">
                {{ form.csrf_token }}
                {{ form.item_id(value=item.id) }}
                
                {% if form.amount.errors %}
                  {{ form.amount(class="form-control is-invalid", value=item.amount, min=1, max=item.option.available) }}
                  <div class="invalid-feedback">
                    {% for error in form.amount.errors %}
                      <span>{{ error|safe }}</span>
                    {% endfor %}
                  </div>
                {% else %}
                  {{ form.amount(class="form-control", value=item.amount, min=1, max=item.option.available) }}
                {% endif %}
                {{ form.amount.form_text }}
                {% if form.amount.description %}
                  {{ form.amount.description|safe }}
                {% endif %}

                <button type="submit" class="btn btn-link">
                  <i class="fas fa-sync-alt"></i>
                  Update
                </button>
              </form>
						</td>
						<td class="text-center">
							${{ item.total_cost() }}
						</td>
						<td class="text-center">
              <form action="{{ url_for('shop.delete_item') }}" method="post">
                {{ delete_form.csrf_token }}
                {{ delete_form.obj_id(value=item.id) }}
                <button type="submit" class="btn btn-sm btn-danger jquery-tooltip" title="Remove from cart">
                  <i class="fas fa-times"></i>
                </button>
              </form>
						</td>
					</tr>
				{% endfor %}
				<tr>
					<td></td>
					<td></td>
					<td class="text-right"><b>Subtotal:</td>
					<td class="text-center">${{ order.total_cost() }}</td>
					<td></td>
				</tr>
			</tbody>
		</table>

    <div class="text-right">
      <a href="{{ url_for('shop.index') }}" class="btn btn-secondary">
        <i class="fas fa-seedling"></i>
        Continue Shopping
      </a>
      {% if current_user.is_authenticated %}
        <a href="{{ url_for('shop.shipping') }}" class="btn btn-primary">
      {% else %}
        <a href="{{ url_for('auth.sign_up', checkout='checkout') }}" class="btn btn-primary">
      {% endif %}
        <i class="fas fa-shopping-bag"></i>
        Checkout
      </a>
    </div>

	{% else %}
		<p>
			Nothing here yet. Head over to the 
      <a href="{{ url_for('shop.index') }}">shop</a> to add some items.
      {% if not current_user.is_authenticated %}
        Or <a href="{{ url_for('auth.login') }}">log in</a> to recover a previous cart.
      {% endif %}
		</p>
	{% endif %}

{% endblock %}
