{% extends 'base.html' %}
{% block content %}

  <h1>Confirm Your Order</h1>

  <h3 class="mt-4">Shipping To:</h3>

  <p>
    <b>
      {{ order.shipping.full_name }}
    </b><br />
    {{ order.shipping.email }}<br />
    {% if order.shipping.phone %}
      {{ order.shipping.phone }}<br />
    {% endif %}
    {{ order.shipping.address_1 }}<br />
    {% if order.shipping.address_2 %}
      {{ order.shipping.address_2 }}<br />
    {% endif %}
    {{ order.shipping.city }},
    {{ order.shipping.state }}<br />
    {{ order.shipping.zipcode }}
  </p>

  <h3 class="mt-4">Items</h3>
	{% if order and order.items %}
		
		<table class="table" width="100%">
			<thead>
				<tr>
					<th>Product</th>
					<th></th>
					<th width="75">Amount</th>
					<th width="100">Price</th>
				</tr>
			</thead>
			<tbody>
				{% for item in order.items %}
					<tr>
						<td width="150">
							<a href="{{ url_for('shop.product', obj_id=item.product_id) }}">
								<img src="{{ url_for('main.uploads', filename=item.product.image_filename()) }}" class="img-fluid" />
							</a>
						</td>
						<td>
							<a href="{{ url_for('shop.product', obj_id=item.product_id) }}">
								{{ item.product.name }} - {{ item.option.name }} 
              </a><br />
              <small class='text-muted'>
                In stock: {{ item.option.available }}
              </small>
						</td>
						<td class="text-center">
              {{ item.amount }}
						</td>
						<td class="text-center">
							${{ item.total_cost() }}
						</td>
					</tr>
				{% endfor %}
				<tr>
					<td></td>
					<td></td>
					<td class="text-right"><b>Subtotal:</td>
					<td class="text-center">${{ order.total_cost() }}</td>
					<td></td>
				</tr>
			</tbody>
		</table>

  {% endif %}

  <div class="alert alert-info">
    <b>
      <i class="fas fa-info-circle"></i>
      Thursday Deliveries:
    </b>
    We currently do deliveries on Thursday evenings. If you have a special request, please <a href="mailto:contact@littleharehomestead.com">email us</a> and we will try to find a solution.
  </div>

  <div class="text-right">
    <form action="" method="post">
      {{ form.hidden_tag() }}
      <a href="{{ url_for('shop.cart') }}" class="btn btn-secondary">
        <i class="fas fa-shopping-cart"></i>
        Back to Cart
      </a>
      <button type="submit" class="btn btn-primary">
        <i class="fas fa-check-circle"></i>
        Confirm Order
      </button>
    </form>
  </div>

{% endblock %}

