{% extends 'base.html' %}
{% block content %}

  <h1 class="text-center">Shop</h1>

  <hr class="my-4" /> 
  
  <h4>Categories</h4>
  <div class="row">

      <div class="col-md-2 col-12">
        <a href="{{ url_for('shop.index') }}" class="no-underline">
          <div class="product-square {% if active == None %}active{% endif %}" style="background-color: #C8B7B7;">
            <p>All</p>
          </div>
        </a>
      </div>

    {% for category in categories %}
      {% if category.active_products() %}
        <div class="col-md col-12">
          <a href="{{ url_for('shop.index', category=category.name.lower()) }}" class="no-underline">
            <div class="product-square {% if active and active.name.lower() == category.name.lower() %}active{% endif %}" style="background-image: url({{ url_for('main.uploads', filename=category.image_filename()) }})">
              <p>{{ category.name }}</p>
            </div>
          </a>
        </div>
      {% endif %}
    {% endfor %}

  </div>

  {% if active and active.description %}
    <div class="row justify-content-center mt-4 d-none d-md-block">
      <div class="col-md-12 col-12">
        {{ active.html_description()|safe }}
      </div>
    </div>
  {% endif %}

  <hr class="my-4" /> 

  <h4>Products</h4>
  <div class="row justify-content-center">
    {% for product in products %}
    
      <div class="col-md-3 col-12 mb-4">
        {% include 'shop/product-card.html' %}
      </div>

    {% endfor %}
  </div>

{% endblock %}
