{% extends 'base.html' %}
{% block content %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb mb-5">
    <li class="breadcrumb-item">
      <a href="{{ url_for('shop.index') }}">
        Shop
      </a>
    </li>
    <li class="breadcrumb-item">
      <a href="{{ url_for('shop.index', category=product.category.name) }}">
        {{ product.category.name }}
      </a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      {{ product.name }}
    </li>
  </ol>
</nav>

  <h1 class="mb-5">{{ product.name }}</h1>

  <div class="row">

    <div class="col-md-6 col-12 mb-4">
      <img src="{{ url_for('main.uploads', filename=product.image_filename()) }}" class="img-fluid" />
    </div>

    <div class="col">
      <p>
        {{ product.html_description()|safe }}
      </p>
      {% if product.category.html_description()|safe %}
        <p>
          {{ product.category.html_description()|safe }}
        </p>
      {% endif %}
      <h4 class="text-center text-dark my-4 product-price">
        {% if product.starting_price() %}
          ${{ product.starting_price() }}
        {% endif %}
      </h4>

      <div class="text-center mb-4">
        <h6>Options:</h6>
        <div class="btn-group">
          {% for option in product.options %}
          <button type="button" 
              class="btn product-option {% if loop.index == 1 %}active{% endif %} btn-outline-secondary jquery-tooltip" {% if option.tooltip %}title="{{ option.tooltip }}"{% endif %}
              data-id="{{ option.id }}"
              data-available="{{ option.available }}"
              data-price="{{ option.price }}"
              data-image="{{ url_for('main.uploads', filename=option.image_filename) }}">
              {{ option.name }}
            </button>
          {% endfor %}
        </div>
      </div>

      {% if product.is_sold_out() %}
        {{ product.sold_out()|safe }}
      {% else %}
        
        <p class="text-muted text-right">
          In Stock: 
          <span class="in-stock">
            {% if product.options %}
              {{ product.options[0].available }}
            {% endif %}
          </span>
        </p>

        <div class="row mb-2">
          <div class="col-md-5 col-10 ml-auto">
            

            <form action="" method="post">
              <div class="input-group">
                <input type='hidden' name='product_id' value='{{ product.id }}' />
                <input type='hidden' name='option_id' value='{{ product.options[0].id if product.options else '' }}' />
                <input type='number' max="{{ product.available }}" min="1" name="amount" value="1" class="form-control" />
                <div class="input-group-append">
                  <button type="submit" class="btn btn-primary disabled jquery-tooltip" title="Feature coming soon!" disabled>
                    <i class="fas fa-shopping-cart"></i>
                    Add to Cart
                  </button>
                </div>
              </div>
            </form>

          </div>
        </div>

        <p class="alert alert-info">
          <i class="fas fa-exclamation-triangle"></i>
          <b>Website Orders:</b>
          We cannot proccess online orders at the moment. If you would like to order this product, please <a href="mailto:contact@littleharehomestead.com">email us</a> and we'll get back to you as soon as possible.
        </p>
      {% endif %}

    </div>

{% endblock %}
