{% extends 'base.html' %}
{% block content %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb mb-5">
    <li class="breadcrumb-item">
      <a href="{{ url_for('shop.index') }}">
        Shop
      </a>
    </li>
    <li class="breadcrumb-item">
      <a href="{{ url_for('shop.index', category=product.category.name) }}">
        {{ product.category.name }}
      </a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      {{ product.name }}
    </li>
  </ol>
</nav>

  <h1 class="mb-5">{{ product.name }}</h1>

  <div class="row">

    <div class="col-md-6 col-12 mb-4">
      <img src="{{ url_for('main.uploads', filename=product.image_filename()) }}" class="img-fluid" />
    </div>

    <div class="col">
      <p>
        {{ product.html_description()|safe }}
      </p>
      {% if product.category.html_description()|safe %}
        <p>
          {{ product.category.html_description()|safe }}
        </p>
      {% endif %}
      <h4 class="text-center text-dark my-4">
        ${{ product.price }}
      </h4>

      {% if product.is_sold_out() %}
        {{ product.sold_out()|safe }}
      {% else %}
        
        <p class="text-muted">
          In Stock: {{ product.available }}
        </p>

        <p class="alert alert-info">
          <i class="fas fa-exclamation-triangle"></i>
          <b>Website Orders:</b>
          We cannot proccess online orders at the moment. If you would like to order this product, please <a href="mailto:contact@littleharehomestead.com">email us</a> and we'll get back to you as soon as possible.
        </p>
      {% endif %}

    </div>

{% endblock %}
