{% extends 'base.html' %}
{% block content %}

<a href="{{ url_for('auth.logout') }}" class="btn btn-secondary float-right">
  <i class="fas fa-lock-open"></i>
  Logout
</a>

<h1>Your Account</h1>

<ul class="list-unstyled mt-5">
  <li>
    <b>Name:</b>
    {{ user.first_name }} {{ user.last_name if user.last_name else '' }}
  </li>
  <li>
    <b>Email:</b>
    <a href="mailto:{{ user.email }}">
      {{ user.email }}
    </a>
  </li>
  <li>
    <b>Phone:</b>
    {{ user.phone if user.phone else ''}}
  </li>
  <li>
    <b>Company:</b>
    {{ user.company if user.company else ''}}
  </li>
</ul>

<a href="{{ url_for('auth.edit_user') }}" class="btn btn-sm btn-primary mb-5">
  <i class="fas fa-cogs"></i>
  Edit Account
</a>

<h3>Orders</h3>
<table class="table table-striped table-hover datatable">
  <thead>
    <tr>
      <th>#</th>
      <th>Created</th>
      <th>Items</th>
      <th>Total</th>
      <th>Status</th>
      <th width="100">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for order in orders %}
      <tr>
        <td>
          Order #{{ order.id }}
        </td>
        <td>
          {{ moment(order.created).fromNow() }}
        </td>
        <td>
          <ul>
            {% for item in order.items %}
              <li>
                {{ item.product.name }} -
                {{ item.option.name }}
                (x{{ item.amount }})
              </li>
            {% endfor %}
          </ul>
        </td>
        <td>
          ${{ order.total_cost() }}
        </td>
        <td>
          {{ order.status }}
        </td>
        <td class="text-right">
          {% if order.status == 'Incomplete' %}
            {% if session.get('order_id') != order.id %}
              <a href="{{ url_for('shop.select_order', obj_id=order.id) }}" class="btn btn-sm btn-primary mb-2">
                <i class="fas fa-hand-pointer"></i>
                Select
              </a>
            {% endif %}
            <button class="btn btn-sm btn-danger delete-btn">
              <i class="fas fa-trash-alt"></i>
              Delete
            </button>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
