{% extends 'base.html' %}
{% block content %}

<h4 class="text-center mb-5 mt-3">
  <a id="products"></a>
  Products
</h4>

  <div class="row mb-5">

    {% for category in categories %}
      {% if category.active_products() %}
        <div class="col-md col-12">
          <a href="{{ url_for('shop.index', category=category.name.lower()) }}" class="no-underline">
            <div class="product-square" style="background-image: url({{ url_for('main.uploads', filename=category.image_filename()) }})">
              <p>{{ category.name }}</p>
            </div>
          </a>
        </div>
      {% endif %}
    {% endfor %}

  </div>

<div class="d-none d-md-block my-5">&nbsp;</div>
<div class="d-none d-md-block my-5">&nbsp;</div>

<div class="row mt-5">
  <div class="col-12 col-md-4">

    <img src="{{ url_for('main.uploads', filename='family.jpg') }}" class="img-responsive" />

  </div>
  <div class="col">

    <h4>
      <a id="about"></a>
      Located in Lancaster, Pennsylvania
    </h4>
    <p>
      Little Hare Homestead is a small urban homestead in Lancaster City. But like many of the products we provide, we make the most of the space we have. Nathan and Meghan Hare manage the homestead and strive to put the best food on your table and the healthiest plants in your home. 
    </p>

  </div>
</div>

{% endblock %}
