{% extends 'base.html' %}
{% block content %}

<h4 class="text-center mb-5 mt-3">
  <a id="products"></a>
  Products
</h4>

  <div class="row mb-5">

    {% for category in categories %}
      {% if category.active_products() %}
        <div class="col-md col-12">
          <a href="{{ url_for('shop.index', category=category.name.lower()) }}" class="no-underline">
            <div class="product-square" style="background-image: url({{ url_for('main.uploads', filename=category.image_filename()) }})">
              <p>{{ category.name }}</p>
            </div>
          </a>
        </div>
      {% endif %}
    {% endfor %}

  </div>

<div class="d-none d-md-block my-5">&nbsp;</div>
<div class="d-none d-md-block my-5">&nbsp;</div>

<div class="row mt-5">
  <div class="col-12">

    {% if page %}
      {{ page.html_body()|safe }}
    {% endif %}

  </div>
</div>

{% endblock %}
