.jumbotron {
  color: #fff;
  background-size: cover !important;
  background: url('/static/images/jumbotron-bg.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 0px;
}
.jumbotron h1, .jumbotron p {
  text-shadow: 0px 0px 5px #fff;
  color: #333;
  text-transform: none;
}
