.jumbotron {
  color: #fff;
  background-size: cover;
  background: linear-gradient(rgba(0, 0, 0, 0.35),rgba(0,0,0,0.35)), url('/static/images/jumbotron-bg.jpg');
  border-radius: 0px;
}
.jumbotron h1, .jumbotron p {
	text-shadow: 0px 0px 3px #000;
  color: #fff;
  text-transform: none;
}
