{% extends 'base.html' %}
{% block content %}

{% include 'admin/nav.html' %}

<a href="{{ url_for('admin.add_group') }}" class="btn btn-primary btn-lg float-right">
  <i class="fas fa-plus"></i>
  Add Group
</a>

<h1>Groups</h1>

<table class="table table-striped table-hover datatable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    {% for group in groups %}
      <tr>
        <td>
          <a href="{{ url_for('admin.edit_group', obj_id=group.id) }}" >
            <i class="fas fa-edit"></i>
            <span class="badge badge-{{ group.style }}">
              {{ group.name }}
            </span>
          </a>
        </td>
        <td>
          {{ group.description }}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
