<h1 class="text-center mb-4 text-secondary"> = Admin Panel =</h1>

<ul class="nav nav-tabs mb-4">
  <li class="nav-item">
    <a class="nav-link {% if tab=='products' %}active{% endif %}" href="{{ url_for('admin.products') }}">
      <i class="fas fa-seedling"></i>
      Products
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if tab=='categories' %}active{% endif %}" href="{{ url_for('admin.categories') }}">
      <i class="fas fa-th-large"></i>
      Categories
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if tab=='pages' %}active{% endif %}" href="{{ url_for('admin.pages') }}">
      <i class="fas fa-file"></i>
      Pages
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if tab=='users' %}active{% endif %}" href="{{ url_for('admin.users') }}">
      <i class="fas fa-user"></i>
      Users
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if tab=='groups' %}active{% endif %}" href="{{ url_for('admin.groups') }}">
      <i class="fas fa-users"></i>
      Groups
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if tab=='settings' %}active{% endif %}" href="{{ url_for('admin.settings') }}">
      <i class="fas fa-cog"></i>
      Settings
    </a>
  </li>
  <li class="nav-item ml-auto">
    <a class="nav-link" href="{{ url_for('auth.logout') }}">
      <i class="fas fa-lock-open"></i>
      Logout
    </a>
  </li>
</ul>
