<h1 class="text-center mb-4 text-secondary"> = Admin Panel =</h1>

<ul class="nav nav-tabs mb-4">
  <li class="nav-item dropdown">
    <a class="nav-link {% if tab=='shop' %}active{% endif %} dropdown-toggle" data-toggle="dropdown" href="#">
      <i class="fas fa-store"></i>
      Shop
    </a>
    <div class="dropdown-menu">
      <a href="{{ url_for('admin.orders') }}" class="dropdown-item">
        <i class="fas fa-boxes"></i>
        Orders
      </a>
      <a href="{{ url_for('admin.products') }}" class="dropdown-item">
        <i class="fas fa-seedling"></i>
        Products
      </a>
      <a href="{{ url_for('admin.categories') }}" class="dropdown-item">
        <i class="fas fa-th-large"></i>
        Categories
      </a>
    </div>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link {% if tab=='users' %}active{% endif %} dropdown-toggle" data-toggle="dropdown" href="#">
      <i class="fas fa-user"></i>
      Users
    </a>
    <div class="dropdown-menu">
      <a href="{{ url_for('admin.users') }}" class="dropdown-item">
        <i class="fas fa-user"></i>
        Users
      </a>
      <a href="{{ url_for('admin.groups') }}" class="dropdown-item">
        <i class="fas fa-users"></i>
        Groups
      </a>
    </div>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link {% if tab=='settings' %}active{% endif %} dropdown-toggle" data-toggle="dropdown" href="#">
      <i class="fas fa-cog"></i>
      Settings
    </a>
    <div class="dropdown-menu">
      <a href="{{ url_for('admin.pages') }}" class="dropdown-item">
        <i class="fas fa-file"></i>
        Pages
      </a>
      <a href="{{ url_for('admin.settings') }}" class="dropdown-item">
        <i class="fas fa-cogs"></i>
        Settings
      </a>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
			<i class="fas fa-file"></i>
			Logs
		</a>
		<div class="dropdown-menu">
			<a href="{{ url_for('admin.error_logs') }}" class="dropdown-item">
				<i class="fas fa-exclamation-triangle"></i>
				Error Logs
			</a>
		</div>
  </li>
  <li class="nav-item ml-auto">
    <a class="nav-link" href="{{ url_for('auth.logout') }}">
      <i class="fas fa-lock-open"></i>
      Logout
    </a>
  </li>
</ul>
