{% extends 'base.html' %}
{% block content %}

{% include 'admin/nav.html' %}

<a href="{{ url_for('admin.add_setting') }}" class="btn btn-primary btn-lg float-right">
  <i class="fas fa-plus"></i>
  Add Setting
</a>

<h1>Settings</h1>

<table class="table table-striped table-hover datatable">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for setting in settings %}
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
