{% extends 'base.html' %}
{% block content %}

  {% include 'admin/nav.html' %}

  <a href="{{ url_for('admin.edit_order', obj_id=order.id) }}" class="btn btn-primary float-right">
    <i class="fas fa-edit"></i>
    Edit Order
  </a>

  <h1>
    Order #{{ order.id }}
    <small class="badge badge-{{ order.status_class() }}">
      {{ order.status }}
    </small>
  </h1>


  <div class="row mt-3">
    <div class="col-12 col-md">
      <h3>Shipping</h3>
      <p>
        <b>
          {{ order.shipping.full_name }}
        </b><br />
        {{ order.shipping.email }}<br />
        {% if order.shipping.phone %}
          {{ order.shipping.phone }}<br />
        {% endif %}
        {{ order.shipping.address_1 }}<br />
        {% if order.shipping.address_2 %}
          {{ order.shipping.address_2 }}<br />
        {% endif %}
        {{ order.shipping.city }},
        {{ order.shipping.state }}<br />
        {{ order.shipping.zipcode }}
      </p>
      <a href="{{ url_for('admin.edit_order_information', obj_id=order.shipping_id, parent_id=order.id) }}" class="btn btn-sm btn-secondary">
        <i class="fas fa-cogs"></i>
        Edit Shipping
      </a>
    </div>

    <div class="col-12 col-md">
      <h3>Payment</h3>
      {% if order.paid %}
        <p>
          <i class="fas fa-check-circle text-success"></i>
          Paid with <b class="text-success">{{ order.payment_type }}</b>
        </p>
        {% if order.payment_type == 'Credit Card' %}
          Payment ID: 
          <a href="https://dashboard.stripe.com/{% if config.get('DEVELOPMENT') %}test/{% endif %}payments/{{ order.payment_id }}" target='_blank'>
            {{ order.payment_id }}
          </a>
        {% endif %}
      {% else %}
        <p>No payment received.</p>
      {% endif %}
        <b>Mark as Paid:</b><br />
        <form action="{{ url_for('admin.set_payment', obj_id=order.id) }}" method="post" class="d-inline">
          {{ form.hidden_tag() }}
          <button type="submit" class="btn btn-secondary btn-sm" name="payment_type" value="Credit Card"> 
            <i class="fas fa-credit-card"></i>
            Credit Card
          </button>
        </form>
        <form action="{{ url_for('admin.set_payment', obj_id=order.id) }}" method="post" class="d-inline">
          {{ form.csrf_token }}
          {{ form.payment_type(value='Cash') }}
          {{ form.paid(value='y') }}
          <button type="submit" class="btn btn-secondary btn-sm" name="payment_type" value="Cash"> 
            <i class="fas fa-money-bill-wave"></i>
            Cash
          </button>
        </form>
        <form action="{{ url_for('admin.set_payment', obj_id=order.id) }}" method="post" class="d-inline">
          {{ form.csrf_token }}
          {{ form.payment_type(value='Check') }}
          {{ form.paid(value='y') }}
          <button type="submit" class="btn btn-secondary btn-sm" name="payment_type" value="Check"> 
            <i class="fas fa-money-check"></i>
            Check
          </button>
        </form>
        <form action="{{ url_for('admin.set_payment', obj_id=order.id) }}" method="post" class="d-inline">
          {{ form.csrf_token }}
          {{ form.payment_type(value='') }}
          {{ form.paid(value='n') }}
          <button type="submit" class="btn btn-danger btn-sm ml-5"> 
            <i class="fas fa-trash"></i>
            Clear Payment
          </button>
        </form>
    </div>
  </div>
  
  <h3 class="mt-4">Items</h3>
	{% if order and order.items %}
		
		<table class="table" width="100%">
			<thead>
				<tr>
					<th>Product</th>
					<th></th>
					<th width="75">Amount</th>
					<th width="100">Price</th>
				</tr>
			</thead>
			<tbody>
				{% for item in order.items %}
					<tr>
						<td width="150">
							<a href="{{ url_for('shop.product', obj_id=item.product_id) }}">
								<img src="{{ url_for('main.uploads', filename=item.product.image_filename()) }}" class="img-fluid" />
							</a>
						</td>
						<td>
							<a href="{{ url_for('shop.product', obj_id=item.product_id) }}">
								{{ item.product.name }} - {{ item.option.name }} 
              </a><br />
              <small class='text-muted'>
                In stock: {{ item.option.available }}
              </small>
						</td>
						<td class="text-center">
              {{ item.amount }}
						</td>
						<td class="text-center">
							${{ item.total_cost() }}
						</td>
					</tr>
				{% endfor %}
				<tr>
					<td></td>
					<td></td>
					<td class="text-right"><b>Subtotal:</td>
					<td class="text-center">${{ order.total_cost() }}</td>
				</tr>
			</tbody>
		</table>

  {% endif %}

{% endblock %}
